<Window x:Class="WpfApplication11.MainWindow"NEWLINE        xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"NEWLINE        xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"NEWLINE        Title="MainWindow"NEWLINE        Width="525"NEWLINE        Height="350">NEWLINE  <Grid>NEWLINE    <TextBlock FontFamily="Arial"NEWLINE               FontSize="18"NEWLINE               Text="{x:Bind Vm.test, Mode=TwoWay, Source={StaticResource Locator}, Converter={StaticResource Converter}}" />NEWLINE  </Grid>NEWLINE</Window>